@{
    ViewBag.Title = "Bai3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bai3</h2>
@using (Html.BeginForm())
{
    <label>Nhập n :</label>
    <input type="text" name="sox" />
    <input type="submit" value="Tính tổng SNT" />
}

@ViewBag.Tong
